<div class="container">
    <mat-card class="card">
      <form (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Title" name="title" [(ngModel)]="data.title" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Status" name="status" [(ngModel)]="data.status" required>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Description" name="description" [(ngModel)]="data.description" required></textarea>
        </mat-form-field>
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Add Task</button>
        </div>
      </form>
    </mat-card>
  
    <div class="tasks-container">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let task of tasks">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ task.title }}</mat-panel-title>
            <mat-panel-description>{{ task.status }}</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-panel-description>{{ task.description }}</mat-panel-description>
          <mat-card-actions>
            <button mat-button color="primary" (click)="onUpdate(task)">Update</button>
            <button mat-button color="warn" (click)="onDelete(task)">Delete</button>
          </mat-card-actions>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
